---
import { renderContentBlock } from '../../lib/utils/render-content'
import type { PublicDetailSpecie } from '../../lib/repositories/SpeciesRepository'

interface Props {
  species: PublicDetailSpecie
}

const { species } = Astro.props

// Debug logging
if (species.richContent) {
  console.log('SpeciesRichContent component:', {
    hasRichContent: true,
    blocksCount: species.richContent.blocks?.length || 0,
    firstBlock: species.richContent.blocks?.[0],
  })
} else {
  console.log('SpeciesRichContent component: No richContent available')
}
---

{
  species.richContent && species.richContent.blocks && species.richContent.blocks.length > 0 && (
    <section class="mb-8">
      <div class="prose prose-lg max-w-none dark:prose-invert">
        {species.richContent.blocks.map((block) => (
          <div set:html={renderContentBlock(block)} />
        ))}
      </div>
    </section>
  )
}
